<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .crud {
  width:100px;
  vertical-align: middle !important;
}
.crud a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
  font-size:1.5em;
}
.add-new {
  float:right;
  margin-bottom: 5px;
}
#servers_modal table.table td .add {
display: inline-block;
}
#servers_modal table.table .form-control.error {
  border-color: #f50000;
}
.modal-lg{width: 1234px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
.modal-dialog.modal-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 20px);
  margin: auto;
}
    </style>
</head>

<body>
<!-- partial:index.partial.html -->
<div class="modal" id="servers_modal" style="display:block;">
    <div class="modal-dialog modal-lg">
        <form th:action="@{add}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Courses</h4>
                </div>
                <div class="modal-body">
                    <div class="table-wrapper">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Course Title</th>
                                <th>Thumbnail link</th>
                                <th>Course Description</th>
                                <th>Choose Experts (Ctrl+click to add multiple)</th>
                                <th>Course Category</th>
                            </tr>
                            </thead>
                            <tbody id="servers_table" runat="server" ClientIDMode="static" data-delete="">
                            <tr id="server_0">
                                <td><input style="width: 142px" type="text" name="Title" placeholder="Title"></td>
                                <td><input style="width: 142px" type="text" name="Thumbnail" placeholder="Link"></td>
                                <td><textarea style="width: 300px; height: 80px; resize:none;"  name="Description"></textarea></td>
                                <td>
                                    <input style="width: 142px" type="text" id="searchInput" placeholder="Search Email">
                                    <!-- Modify the select element to have an ID -->
                                    <select name="expert" id="expertSelect" multiple size="1">
                                        <option th:each="u : ${experts}" th:value="${u.userID}">[[${u.email}]]</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="category" id="categorySelect">
                                        <option th:each="u : ${cates}" th:value="${u.categoryID}">[[${u.name}]]</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/admin/course"><button type="submit" class="btn btn-default" data-dismiss="modal">Save</button></a>
                    <a href="/admin/course"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></a>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
<!-- partial -->
<script>
    $(document).ready(function() {
      // When user types in the search input
      $('#searchInput').on('input', function() {
        var searchValue = $(this).val().toLowerCase();
        $('#expertSelect option').each(function() {
          var categoryName = $(this).text().toLowerCase();
          if (categoryName.includes(searchValue)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
    });
  </script>
<script>
    $(document).ready(function() {
      var maxOptions = 10; // Maximum number of options to display
      $('#expertSelect option').each(function(index) {
        if (index >= maxOptions) {
          $(this).hide();
        }
      });

      $('#categorySearch').on('input', function() {
        var searchValue = $(this).val().toLowerCase();
        $('#expertSelect option').each(function() {
          var optionText = $(this).text().toLowerCase();
          if (optionText.indexOf(searchValue) > -1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });

      $('#expertSelect').on('blur', function() {
        $(this).attr('size', 1);
      });
    });
  </script>
</body>

</html>