<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Assigned To</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/assignedcourse.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<table>
  <thead>
    <tr>
      <th>Experts</th>
      <th>Assigned To</th>
      <th>Course Link</th>
    </tr>
  <tbody>
  <th:block th:each="courseexpert : ${listCourseExpert}">
    <tr>
      <td>[[${courseexpert.couExpertID}]]</td>
      <td>[[${courseexpert.courseID}]]</td>
      <td>[[${courseexpert.userID}]]</td>
    </tr>
  </th:block>

  </tbody>
  </thead>
  <tbody>
    <tr>
      <td><strong>John Doe</strong></td>
      <td>15</td>
    <td>  <a href="course.html"> The speed of the show/reveal</a></td>
    </tr>
    <tr>
      <td><strong>showEasing</strong></td>
      <td>'linear'</td>
      <td><a href="course.html">The easing of the show/reveal</a></td>
    </tr>
    <tr>
      <td><strong>hideSpeed</strong></td>
      <td>50</td>
      <td><a href="course.html">The easing of the show/reveal</a></td>
    </tr>
    <tr>
      <td><strong>hideEasing</strong></td>
      <td>'linear'</td>
      <td><a href="course.html">The easing of the show/reveal</a></td>
    </tr>					
    <tr>
      <td><strong>width</strong></td>
      <td>'auto'</td>
      <td><a href="course.html">The easing of the show/reveal</a></td>
    </tr>
    <tr>
      <td><strong>ellipsis</strong></td>
      <td>true</td>
      <td><a href="course.html">The easing of the show/reveal</a></td>
    </tr>
    <tr>
      <td><strong>title</strong></td>
      <td>false</td>
      <td><a href="course.html">The easing of the show/reveal</a></td>
    </tr>
    <tr>
      <td><strong>afterShow</strong></td>
      <td> $.noop</td>
      <td><a href="course.html">The easing of the show/reveal</a></td>
    </tr>
    <tr>
      <td><strong>afterHide</strong></td>
      <td>$.noop</td>
      <td><a href="course.html">The easing of the show/reveal</a></td>
    </tr>
  </tbody>
</table>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
