<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="/style/changepassword.css">
      </head>
    <body>
    <div class="mainDiv">
      <div class="cardStyle">
        <form action="pass" method="post" name="signupForm" id="signupForm">

          <h2 class="formTitle">
            Change your password
          </h2>
          <div class="inputDiv">
            <label class="inputLabel" for="password">Current Password</label>
            <input type="password" id="currentpassword" name="nowpass" required pattern="[a-zA-Z0-9]+">
            <p th:if="${thisPass}" style="color:red;margin: 0;">[[${thisPass}]]</p>
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="password">New Password</label>
            <input type="password" id="password" name="newpass" required pattern="[a-zA-Z0-9]+">
            <p th:if="${repass}" style="color:red;margin: 0;">[[${repass}]]</p>
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="renewpass" pattern="[a-zA-Z0-9]+">
            <p th:if="${renewpass}" style="color:red;margin: 0;">[[${renewpass}]]</p>
          </div>

          <div class="buttonWrapper">
            <button onclick="showPopup()" type="button" id="submitButton"  class="submitButton pure-button pure-button-primary">
              <span>Continue</span>
            </button>
          </div>

        </form>
      </div>
    </div>
    <div id="popupBox" class="popup">
      <div class="popupContent">
        <h2>Confirm</h2>
        <p>Apply new password ?</p>
        <button onclick="closePopup()">Close</button>
        <button onclick="document.getElementById('signupForm').submit();">Apply</button>
      </div>
    </div>

    <script>
    function showPopup() {
      document.getElementById('popupBox').style.display = "block";
    }

    function closePopup() {
      document.getElementById('popupBox').style.display = "none";
    }
  </script>
    </body>

  </html>