<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Edit Quiz</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="style/editest.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div id="question-wrapper" class="row">
  <button class="btn btn-default" id="add-question">Add Question</button>
  </div>
  <div class="row">
    <a href="test.html"><button id="submit-quiz" class="btn btn-default btn-primary">Submit Quiz</button></a>
    
    <div id="results" class="well"></div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'>

  </script><script  src="editest.js"></script>

</body>
</html>
