<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Edit Course</title>
</head>
<body>
<div>
  <h1>Edit Course</h1>
  <form th:action="@{/managercourse/update/{id}(id=${course.courseID})}" method="post">
    <input type="hidden" th:field="${course.courseID}">
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="${course.title}" required>
    <br>
    <label for="thumbnail">Thumbnail:</label>
    <input type="text" id="thumbnail" th:field="${course.thumbnail}" required>
    <br>
    <label for="category">Category:</label>
    <input type="text" id="category" th:field="${course.categoryID}" required>
    <br>
    <input type="submit" value="Save">
  </form>
</div>
</body>
</html>