<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,600i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/user.css">
  </head>
  <div class="infocardContainer">
    <div id="main">
      <img src="https://i.pinimg.com/originals/f1/0f/f7/f10ff70a7155e5ab666bcdd1b45b726d.jpg"></img>
    </div>
    <div id="textbois">
      <h2>Name: Ava Max</h2>
      
      <a href="useregisteredcourse.html">View Registered Course</a>
      <a href="viewregistration.html">View Registration</a>
      <a href="editprofile.html">Edit profile</a>
      <a href="index.html">
        <div class="button">
         <button style="color:black" href="index.html">Logout</button>
      </div>
    </a>
    </div>
  </div>