<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Edit Lesson</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .crud {
  width:100px;
  vertical-align: middle !important;
}
.crud a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
  font-size:1.5em;
}
.add-new {
  float:right;
  margin-bottom: 5px;
}
#servers_modal table.table td .add {
display: inline-block;
}
#servers_modal table.table .form-control.error {
  border-color: #f50000;
}
.modal-lg{width: 1234px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
.modal-dialog.modal-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 20px);
  margin: auto;
}
    </style>
</head>

<body>
<!-- partial:index.partial.html -->
<div class="modal" id="servers_modal" style="display:block;">
    <div class="modal-dialog modal-lg">
        <form th:action="${lessons.lessonID}" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Edit Lessons</h4>
                </div>
                <div class="modal-body">
                    <div class="table-wrapper">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>CourseID</th>
                                <th>Lesson Title</th>
                                <th>Lesson Content</th>
                                <th>Lesson Video</th>
                                <th>Lesson Resource</th>
                            </tr>
                            </thead>
                            <tbody id="servers_table" runat="server" ClientIDMode="static" data-delete="">
                            <tr id="server_0">
<!--                                <td>-->
<!--                                    <select name="courseid" id="selectedCourseID">-->
<!--                                        <option th:each="lessons : ${lessons}" th:value="${lessons.courseID}" th:selected="${lessons.courseID}">[[${lessons.courseID}]]</option>-->
<!--                                    </select>-->
<!--                                </td>-->
                                <td><input class="form-control" type="text" name="CourseID" th:value="${lessons.courseID}" placeholder="Title"></td>
                                <td><input class="form-control" type="text" name="Title" th:value="${lessons.title}" placeholder="Title"></td>
                                <td><input class="form-control" type="text" name="Content" th:value="${lessons.content}" placeholder="Title"></td>
                                <td><input class="form-control" type="text" name="Video" th:value="${lessons.video}" placeholder="Link"></td>
                                <td><input class="form-control" type="text" name="Resource" th:value="${lessons.resource}" placeholder="Title"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Save</button>
                    <a href="/lesson/list"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></a>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
<!-- partial -->
<script>
    $(document).ready(function() {
      // When user types in the search input
      $('#searchInput').on('input', function() {
        var searchValue = $(this).val().toLowerCase();
        $('#expertSelect option').each(function() {
          var categoryName = $(this).text().toLowerCase();
          if (categoryName.includes(searchValue)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
    });
  </script>
<script>
    $(document).ready(function() {
      var maxOptions = 10; // Maximum number of options to display
      $('#expertSelect option').each(function(index) {
        if (index >= maxOptions) {
          $(this).hide();
        }
      });

      $('#categorySearch').on('input', function() {
        var searchValue = $(this).val().toLowerCase();
        $('#expertSelect option').each(function() {
          var optionText = $(this).text().toLowerCase();
          if (optionText.indexOf(searchValue) > -1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });

      $('#expertSelect').on('blur', function() {
        $(this).attr('size', 1);
      });
    });
  </script>
<script>
    $(document).ready(function() {
        // Clear button click event
        $('#clearButton').click(function() {
            // Clear all selected options
            $('#expertSelect option:selected').prop('selected', false);
        });
    });
</script>
</body>

</html>