<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CourseExpert List</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
  .modal{
    overflow: auto;
  }
    .crud {
  width:100px;
  vertical-align: middle !important;
}
.crud a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
  font-size:1.5em;
}
.add-new {
  float:right;
  margin-bottom: 5px;
}
#servers_modal table.table td .add {
display: inline-block;
}
#servers_modal table.table .form-control.error {
  border-color: #f50000;
}
.modal-lg{width: 1234px;}
.table-wrapper {
    max-height: 90vh; /* Adjust this value as needed */
    height: auto;
    overflow-y: auto;
  }
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="modal" id="servers_modal" style="display:block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">CourseExpert List</h4>
            </div>
            <div class="modal-body">
                <div class="table-wrapper">
                    <div class="table-title">
<!--                        <button type="button" onclick="window.location.href='add';" class="btn btn-primary add-new">-->
<!--                            <i class="fa fa-plus"></i> Add Lesson-->
<!--                        </button>-->
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Course ID</th>
                            <th>Course Title</th>
                            <th>Course Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="servers_table" runat="server" ClientIDMode="static" data-delete="">
                        <tr th:each="ecl : ${expertcourselist}">
                            <td>[[${ecl.CourseID}]]</td>
                            <td>[[${ecl.Title}]]</td>
                            <td>[[${ecl.Description}]]</td>
                            <td>
                                <form action="/lesson/list" method="GET">
                                    <input type="hidden" th:name="courseid" th:value="${ecl.CourseID}">
                                    <button type="submit" >
                                          Lesson
                                    </button>
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </a>
            </div>
            </a>
        </div>
    </div>
</div>
<!-- partial -->
</body>
</html>
