<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'><link rel="stylesheet" href="style/viewregistration.css">

</head>
<body>
  <div>Name: John</div>
  <div>Payment method: Card</div>
<!-- partial:index.partial.html -->
<table>
  <caption>Your Registration</caption>
  <thead>
    <tr>
      <th scope="col">Registered Course</th>
      <th scope="col">Due Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Account">The Joy Of Learning</td>
      <td data-label="Due Date">04/01/2023</td>
      <td data-label="Amount">250.000 VNĐ</td>
      <td data-label="Period">Accepted</td>
    </tr>
    <tr>
      <td scope="row" data-label="Account">The Art Of Negotiation</td>
      <td data-label="Due Date">03/01/2023</td>
      <td data-label="Amount">250.000 VNĐ</td>
      <td data-label="Period">In Processing</td>
    </tr>
    <tr>
      <td scope="row" data-label="Account">Corporate AMEX</td>
      <td data-label="Due Date">03/01/2023</td>
      <td data-label="Amount">250.000 VNĐ</td>
      <td data-label="Period">Error</td>
    </tr>
    <tr>
      <td scope="row" data-label="Acount">The Science Of Happiness</td>
      <td data-label="Due Date">02/01/2023</td>
      <td data-label="Amount">250.000 VNĐ</td>
      <td data-label="Period">Accepted</td>
    </tr>
  </tbody>
</table>
<!-- partial -->
  
</body>
</html>
